* {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face {
  font-family: 'Untitled';
  src: url(assets/UntitledSansTest-Bold.otf);
  src: url(assets/UntitledSansTest-Bold.woff) format("woff");
}

@font-face {
  font-family: 'UntReg';
  src: url(assets/UntitledSansTest-Regular.otf);
  src: url(assets/UntitledSansTest-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Styrene';
  src: url(assets/StyreneBWeb-Regular.ttf);
}

p {
  font-family: "Styrene", sans-serif;
  font-size: 82px;
}

a {
  text-decoration-color: #FFA800;
  color: #838181;
}

h4 {
  font-family: "Untitled", sans-serif;
  font-size: 30px;
}

.head {
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 5;
}

.home {
  text-decoration: none;
}

.nav {
  padding: 10px;
  font-family: "Styrene", sans-serif;
  width: 1000px;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}

.wide {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #F2F2F2;
}

#full {
  
}

.bigbox {
  height: 100vh;
  overflow-x: auto;
  /*scroll-snap-type: x mandatory;*/
}

.constraint {
  width: 1000px;
  margin: auto;
}

.heady {
  width: 1000px;
  margin: auto;
  height: 100vh;
  /*scroll-snap-align: start;*/
}


#subtitle {
  font-family: "Styrene", sans-serif;
  font-size: 30px;
}


.flex_content {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.col_one {
  
}

.col_two {

}

#typetwo {
  margin-top: 10vh;
}


.work {
  background-color: white;
  margin-top: 5%;
  box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.75);
}

.work:hover {
  
}

.pic {
  background-image: url(assets/DAT04.jpg);
  background-size: cover;
  background-position: center;
  height: 180px;
  border: 1px solid #E5E5E5;
}

.work_title {
  padding: 3%;
  border-bottom: 1px solid #E5E5E5;
  font-family: "Untitled", sans-serif;
  font-size: 24px;
  background-color: white;
   border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}

.work_description {
  padding: 3%;
  background-color: white;
  font-family: "UntReg", sans-serif;
  font-size: 16px;
  color: #838181;
  padding-bottom: 5%;
  border-bottom: 1px solid #E5E5E5;
   border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}

.work_link {
  padding: 3%;
  font-family: "Styrene", sans-serif;
  font-size: 16px;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}

div[class*="link"] {
  background-color: white;
}

#botnet {
  background-image: url(assets/botnetphoto00.jpg);
}

#typecon {
  background-image: url(assets/panel01.jpg);
}

#claims {
  background-image: url(assets/bitclaimpreview01.jpg);
}

.pub {
  margin-top: 5%;
  border-top: 1px solid #E5E5E5;
  box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.75);
}

.footer {
  padding-top: 2.5vh;
  
}

.copyright {
  margin-top: 2%;
  font-family: "Styrene", sans-serif;
  font-size: 10px;
}

.dat {
  
}


.social {

}

.social>div {
  margin: 10px;
  float: right;
}

#quote_box {
  width: 500px;
  margin: auto;
}

#quote_text {
  font-family: "Styrene", sans-serif;
  font-size: 24px;
  color: #E5E5E5;
  text-align: center;
}

#last {
  margin-bottom: 5%;
}

#useful {
  border-top: 1px solid #E5E5E5;
}

.socialnow:hover {
  fill: #FFA800;
}

svg:hover .socialnow {
  fill: #FFA800;
}

#job, #space, #cloud {
  font-family: "Untitled", sans-serif;
  font-size: 80px;
}

#tracing {
  background-image: url(assets/Trace_06.png);
}


.linktext {
  position: relative;
  top: -50px;
  padding: 3%;
  font-family: "Styrene", sans-serif;
  font-size: 16px;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  z-index: 2;
  margin-bottom: -50px;
}

/*work pages*//*work pages*//*work pages*//*work pages*//*work pages*//*work pages*//*work pages*/

.background {
  background-color: #F2F2F2;
  width: 60%;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
}

#working {
  margin-top: 5%;
  height: auto;
}

#wicked {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.work_words {
  font-family: "UntReg", sans-serif;
  font-size: 16px;
  line-height: 180%;
}

#symbol {
  width: 100%;
}

.footnote {
  width: 60%;
  margin-left: 40%;
  display: inline-flex;
}

.number {
  font-family: "styrene", sans-serif;
  font-size: 80px;
}

.note {
  font-family: "styrene", sans-serif;
  font-size: 10px;
  padding-top: 5%;
  padding-left: 10%;
  width: auto;
}

#app_one {
  width: 100%;
}

#app_two {
  width: 100%;
}

.picy {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  width: 98.5%;
}

#botwork {
  background-color: white;
  z-index: 2;
}

.margin {
  padding-top: 10vh;
}


.notenum {
  font-size: 10px;
  vertical-align: super;
  font-family: "Untitled", sans-serif;
}

/*trace*//*trace*//*trace*//*trace*//*trace*//*trace*//*trace*//*trace*//*trace*//*trace*/

.tracetop {
  background-color: white;
  padding-bottom: 5%;
  box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.75);
  z-index: 5;
}

.tracepic {
  width:  25%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 1%;
}

.tracetitle {
  width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}

.tracer {
  display: inline-flex;
  margin-bottom: 8%;
  margin-top: 8%;
}

.arrow {
  margin-top: 10%;
  margin-right: 5%;
}

.midgrey {
  background-color: #F2F2F2;
  box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.75);
}

.traceimg {
  width:100%;
  padding-top: 4%;
  padding-bottom: 8%;
}

.featimg {
  width: 100%;
}

.traceby {
  width: 800px;
  margin: auto;
}

.laststop {
  width: 100%;
   padding-top: 4%;
  padding-bottom: 8%;
}

#mockups {
  margin-bottom: 8%;
}

/*typecon*//*typecon*//*typecon*//*typecon*//*typecon*//*typecon*//*typecon*//*typecon*//*typecon*/

.typeconheading {
  width: 1000px;
  margin: auto;
  text-align: center;
}

.becky {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 1%;
  margin-bottom: 4%;
}

.typeconphone {
  width: 20%;
  margin: auto;
}

#phonehome {
  width: 100%;
}

.typeconbox {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 0px;
}

.hey {
  padding: 150px;
  background-color: yellow;
}

.ho {
  background-image: url(assets/Sabotage_05.jpg);
  background-size: cover;
  background-position: center;
}

#less {
 margin-top: 0;
}

#lesser {
  background-color: white;
}

#middy {
  width: 100%;
}

.reversetypeconbox {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 0px;
}

.zip {
  background-image: url(assets/panel01.jpg);
  background-size: cover;
  background-position: center;
}

.bottompic {
  background-image: url(assets/Sabotage_05%202.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

#fine {
  background-color: yellow;
}

#grip {
  background-color: #F2F2F2;
}

#gript {
  background-color: #F2F2F2;
}

/*bitclaims*//*bitclaims*//*bitclaims*//*bitclaims*//*bitclaims*//*bitclaims*//*bitclaims*//*bitclaims*/

.logotypetop {
  width: 70%;
  margin: auto;
}

#half {
  height: 80vh;
}

.csty {
  font-family: "Styrene", sans-serif;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -20px;
}

.lgtp {
  width: 100%;
}

.gify {
  width: 300px;
}

#bigtop {
  padding-top: 18vh;
}

#bitty {
background: #cbbeff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #cbbeff 2%, #b1a0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #cbbeff 2%,#b1a0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #cbbeff 2%,#b1a0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.middy {
  position: relative;
  top: -200px;
}

#thevision {
  margin-top: 20%;
}

#graded {
  background: #f3f8ff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f3f8ff 0%, #f1f1f1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f3f8ff 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f3f8ff 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-bottom: -50px;
}

.bitc {
  font-family: "untitled", sans-serif;
  color: #1B246F;
}

.triad {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

#value {
  background-color: white;
}

.icona {
  width: 100%;
}

.iconic {
  height: 270px;
}

#values {
  background-color: white;
  padding-top: 10%;
}

#persona {
  padding-top: 10%;
  margin-top: 10%;
}

.personabox {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 0px;
  background-color: white;
  border: 1px solid #E5E5E5;
  font-family: "untreg", sans-serif;
  color: #C4C4C4;
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 12px;
}

.propic {
  width: 100%;
}

.profile {
  width: 100%;
}

.needs {
  padding: 5%;
  border-left: 1px solid #E5E5E5;
}

.biotext {
  padding: 10%;
}

.measure {
  width: 100%;
  height: 15px;
  border: 1px solid #E5E5E5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar {
  height: 13px;
  width: 30%;
  background-color: #9986E7;
}

#webapp {
  width: 80%;
}

#mobileapp {
  width: 90%;
}

#sm {
  width: 70%;
}

#betha {
  width: 80%;
}

#bethb {
  width: 50%;
}

#bethc {
  width: 85%;
}

#bethd {
  width: 90%;
}

#persona {
  background: #f1f2fd; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f1f2fd 0%, #fce5e7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f1f2fd 0%,#fce5e7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f1f2fd 0%,#fce5e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.infra {
  margin-top: 20%;
}

.rough {
  width: 1000px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.basket {
  width: 60%;
  margin: auto;
}

.sketching {
  width: 100%;
}

.components {
  background: #e5f9fc; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e5f9fc 0%, #ebf2fc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e5f9fc 0%,#ebf2fc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e5f9fc 0%,#ebf2fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.pathdown {
  position: relative;
  width: 75px;
  margin: auto;
  top: -75px;
}

.drawnpath {
  width: 100%;
}

.comp {
  width: 100%;
}

.mercyplan {
  width: 300px;
  float: right;
}

.drkim {
  width: 300px;
  margin-bottom: 30%;
}

#buildout {
  margin-top: 20%;
  margin-bottom: 200px;
}

div[class*="showview"] {
  width: 300px;
  margin: auto;
  position: relative;
}

.showviewa {
  top: -100px;
}

.showviewb {
}

.showviewc {
  top: -300px;
}

.showviewd {
  top: -200px;
}

.showviewe {
  top: -200px;
  z-index: 3;
}

.showviewf {
  top: -100px;
  z-index: 3;
}

.showviewg {
  top: -70px;
  z-index: 3;
}

.showviewh {
  top: -170px;
  z-index: 3;
}

.showviewi {
  top: -70;
}

.rouge {
  background: #f7f4f4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f7f4f4 1%, #fce5e7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f7f4f4 1%,#fce5e7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f7f4f4 1%,#fce5e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-top: 300px;
}

.blue {
  position: relative;
  top: -300px;
  background-color: white;
  z-index: 2;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #e5f9fc; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e5f9fc 0%, #ebf2fc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e5f9fc 0%,#ebf2fc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e5f9fc 0%,#ebf2fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-bottom: -200px;
}

#yellow {
}



/*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*//*40em*/

@media only screen and (max-width: 1000px) {
  
  .nav {
    margin: auto;
    width: 90%;
  }
  
  .constraint {
    margin: auto;
    width: 90%;
  }
  
  .heady {
    margin: auto;
    width: 90%;
  }
  
  .flex_content {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
 
  p {
    font-size:  40px;
  }
  
  #job {
    font-size: 40px;
  }
  
  #space {
    font-size: 40px;
  }
  
  #cloud {
    font-size: 40px;
  }
  
  #quote_box {
    width: 90%;
    margin: auto;
  }
    
  .social {
    width: 161px;
    margin: auto;
  }

  .copyright {
    margin-top: 5%;
    padding-top: 5%;
    margin: auto;
    width: 161px;
    text-align: center;
    font-family: "Styrene", sans-serif;
    font-size: 10px;
  }
  
  #read {
    margin-bottom: 5%;
  }
  
  #publication {
    margin-top: 0%;
  }
  
  .background {
    width: 95%;
    overflow-x: hidden;
  }
  
  .footnote {
    width: 90%;
    margin-left: 2%;
    display: inline-flex;
  }
  
  
  .traceby {
    width: 100%;
    margin: auto;
  }

  .tracetitle {
    width: 100%;
    margin: auto;
  }
  .tracepic {
    width:  100%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 1%;
  }

  .tracer {
    display: inline-flex;
    margin-right: 8%;
  }

  .arrow {
    margin-top: 13%;
    margin-right: 5%;
  }
  
  .typeconbox {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto;
  }

  .reversetypeconbox {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto;
  }

  .typeconheading {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .hey {
    padding: 20px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: yellow;
  }
  
  .typeconphone {
    width: 60%;
    margin: auto;
  }
  
  .ho {
    height: 60vh;
  }
  
  .zip {
    height: 60vh;
  }
  
  .trip {
    width: 20px;
  }
  
  .margin {
  padding-top: 25vh;
}
  #typetwo {
  margin-top: 2vh;
}
  
  
/*bitclaims*//*bitclaims*/ /*bitclaims*/ /*bitclaims*/ /*bitclaims*/ /*bitclaims*/ /*bitclaims*/ 
  .triad {
    display: grid;
    grid-template-columns: auto;
    width: 95%;
  }
  
  .rough {
    width: 95%;
  }
  
  .basket {
    width: 100%;
  }
  
  .middy {
    width: 300px;
    margin: auto;
  }
  
  .iconic {
    height: auto;
  }
  
  #thevision {
    margin-top: -120px;
    margin-bottom: 30%;
  }
  
  #lefert {
    margin-top: 0;
  }
  
  .pathdown {
    width: 40px;
    top: -50px;
  }
  
  .mercyplan {
    float: none;
    width: 300px;
    margin: auto;
  }
  
  .drkim {
    float: none;
    width: 300px;
    margin: auto;
    margin-top: -186px;
    margin-bottom: 20%;
  }
  
  .showviewb {
    top: -80px;
  }
  
  .showviewd {
   top: -280px;
  }
  
  .showviewe {
   top: -250px;
  }
  
  .showviewf {
   top: -230px;
  }
  
  .showviewg {
   top: -230px;
  }
  
  .showviewh {
   top: -210px;
  }
  
  .showviewi {
   top: -190px;
  }
  
  .rouge {
    margin-top: 240px
  }
  
  .blue {
    top: -340px
  }
  
  #lasting {
    margin-bottom: -120px;
  }

}




